{% extends "layouts/base.html" %} 
{% set pageCriticalStyles = ['css/home.css'] %}
{% block content %}
<div class="wrapper">
  <article class="intro">
    <div class="[ intro__header ] [ radius frame ]">
      <h1 class="[ intro__heading ] [ weight-normal text-400 md:text-600 ]">
        {{ intro.eyebrow }}
        <div class="text-800 md:text-900 lg:text-major weight-bold">{{ intro.main }}</div>
      </h1>
    </div>
    <div class="[ intro__content ] [ flow ]">
      <p class="intro__summary">{{ intro.summary }}</p>
      <a href="{{ intro.primaryButtonUrl }}" class="button">{{ intro.primaryButtonText }}</a>
    </div>
  </article>
</div>

{% set postListItems = pagination.items %}
{% include "partials/post-list.html" %}

{% set ctaContent = primaryCTA %} 
{% include "partials/cta.html" %} 

{% set ctaContent = cta %} 
{% include "partials/cta.html" %} 

{% endblock %}
