{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/work-item.css'] %}
{% block content %}
<section class="work-item">
  <header class="hero">
    <div class="[ hero__inner ]">
      <div class="[ hero__content ] [ dot-shadow radius flow ] [ bg-dark-shade color-light flow-space-400 ]">
        <div class="wrapper flow">
          <h1 class="[ headline ] [ measure-compact ]" data-highlight="quinary">{{ title }}</h1>
          <p>{{ summary }}</p>
          <p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
          <ul class="tags-list" aria-describedby="tags-desc">
            {% for tag in tags %}
            <li>
              <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </header>
  <article class="[ key-facts ] [ panel dot-shadow ] [ bg-primary-shade color-light ]">
    <div class="wrapper flow">
      <h2 class="[text-900]" data-highlight="secondary">Technical Highlights</h2>
      <div class="leading-flat font-sans weight-bold flow-space-700">
        <ol class="[ key-facts__list ] [ auto-grid ]">
          {% for item in highlights %}
          <li class="flow flow-space-300">
            <span class="text-600 lg:text-700 color-quaternary-glare">{{ item.primary }}</span>
            <span class="text-400 lg:text-500">{{ item.secondary }}</span>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </article>
  <div class="[ wrapper ] [ flow ] [ page-content ]">
    {{ content | safe}}
  </div>
</section>

{% include "partials/cta.html" %}
{% endblock %}
