.intro {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  &__content {
    margin-top: get-size('400');
  }

  &__header {
    padding: get-size('300') get-size('500');
    background: rgba(get-color('tertiary'), 0.95);
    width: fit-content;
  }

  &__heading {
    em {
      font-style: normal;
      display: block;
      transform: translateX(-3px);
    }
  }
}
